/* FONTS - IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@font-face {
    font-family: Oceanwide;
    src: url(../fonts/Oceanwide-Semibold.otf);
}


/* =================== */
/* GENERAL FORMATTING */
/* =================== */
html {
    scroll-behavior: smooth;
}

.darkbg {
    background-color: #232533
}

.lightbg{
    background-color: #323445
}

.yellowbg{
    background-color: #fead20
}

.border-yellow{
    border-color: #fead20 !important;
}

.side-lines-bg {
    background-image: url(../images/lines1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

#page-title {
    padding-top: 3%;
    font-family: "Oceanwide";
    text-align: center;
}

#subheading {
    font-family: "Oceanwide";
}

#subheading-2{
    font-family: "Lato";
}

.centered-content-vertical{
    margin-top: auto;
    margin-bottom: auto;
}

.centered-content-horizontal{
    margin-left: auto;
    margin-right: auto;
}

.row li {
    font-family: "Open Sans";
    font-size: 12pt;
    margin-bottom: 3px;
}

.row p {
    font-size: 11pt;
}



.bi-caret-left-fill{
    color: black;
}

.bi-caret-right-fill{
    color: black;
}


/* ====================== */
/*     NAVIGATION BAR     */
/* ====================== */
#navigation-bar .navbar{
    padding-left: 10%; 
    padding-right:10%;
}

#navigation-bar ul li {
    display: inline-block;
    position: relative;
}

#navigation-bar ul li:hover:before {
    content: "" ;
    position: absolute;
    top: 40px;
    background: #fead20;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    left: 50%;
    
}

.nav-item{
    text-align: center;
    padding-bottom: 5px;
}


/* ====================== */
/* ABOUT - LANDING PAGE */
/* ====================== */
#about {
    padding-left: 10%;
    padding-right: 10%;
    min-height: 88%;
}

#about section::after {
    border-bottom: 4px solid red;
    content: '';
    display: block;
    margin-left: 35%;
    width: 50%;
}


#about .first-container{
    text-align: center;
    margin-top: 14%;
}

#about .second-container{
    text-align: left;
    margin-top: 14%;
    padding-left: 2vw;
    padding-right: 1vw;
    padding-bottom: 4vw;
}

#about .third-container{
    text-align: right;
    margin-top: auto;
}

span.description {
    font-size: 12pt;
}

span.name {
    font-size: 40pt;
    font-family: 'Oceanwide';

}

span.job-title{
    font-size: 25pt;
    font-family: 'Lato';
}

#about p{
    color:rgb(217, 255, 0);
}

#about .btn:hover {
    color: #fead20;
}

.profile-photo{
    max-width: device-width; 
    height: calc(300px + 23vw);
}


/* ====================== */
/*     EDUCATION PAGE     */
/* ====================== */
#education {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
}

#school-logos{
    width: 85%;
}

#school-container {
    margin-top: 5vh;
    margin-left: 5vw;
}

#school-container ul {
    list-style: none;
  }

#school-container li::before {
    content: "•";
    color: #fead20;
}

#school-container p{
    padding-left: 3%;
}

/* ====================== */
/*      SKILLS PAGE       */
/* ====================== */
#skills {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
}

#skill-logos{
    width: 85%;
}

#skill-container {
    margin-top: 5vh;
}

#skill-container .card-text{
    background-color: #f5f5f5;
    color: #323445;
    font-size: 15px;
}

#skill-container .card{
    padding-top: 30px;
    padding-bottom: 30px;
    border-color: #fead20;
    border-width: 2px;
    width: 25vw;
    min-width: 350px;
    min-height: 150px;
}


#skill-container .card-title{
    color:#fead20;
}


/* ====================== */
/*    EXPERIENCE PAGE     */
/* ====================== */
#experiences {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
}

#experience-logos{
    width: 85%;
}

#experience-container {
    margin-top: 5vh;
    margin-left: 5vw;
}

#experience-container ul {
    list-style: none;
  }

#experience-container li::before {
    content: "•";
    color: #fead20;
}

#experience-container p{
    padding-left: 3%;
}


/* ====================== */
/*   AFFILIATIONS PAGE    */
/* ====================== */
#affiliations {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
}

#affiliations-logos{
    width: 85%
}

#affiliations-container {
    margin-top: 5vh;
    margin-left: 5vw;
}

#affiliations-container ul {
    list-style: none;
}

#affiliations-container p{
    padding-bottom: 20px;
}

#affiliations-container li::before {
    content: "•";
    color: #fead20;
}

#affiliations-container p{
    padding-left: 3%;
}


/* ====================== */
/*     PROJECTS PAGE      */
/* ====================== */
#projects {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
}

#project-container {
    margin-top: 5vh;
}

#project-container .card{
    padding-top: 30px;
    padding-bottom: 20px;
    border-color: #fead20;
    border-width: 2px;
    width: 25vw;
    min-width: 350px;
    min-height: 150px;
}

#project-container .card{
    color:#fead20;
}

#projects .card:hover {
    background-color: #fead20;
    color: white;
}

#project-container .card-inactive{
    border-color: white !important;
}

#project-container .card-inactive:hover{
    background-color: white !important;
    border-color: white !important;
}

#project-container .carousel-item{
    min-width: 90vw !important;
}


/* ====================== */
/*       CARDS PAGE       */
/* ====================== */
.modal-size{
    min-width: 90vw !important;
    min-height: 90vh !important;
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
}

.w-70{
    width: 70% !important;
}

.w-30{
    width: 30% !important;
}

/* ====================== */
/*       BACK TO TOP      */
/* ====================== */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: black;
    opacity: 0;
}

.back-to-top.active{
    opacity: 1;
}

.back-to-top.active:hover{
    color: #fead20;
}

/* ====================== */
/* CONTACT ME - LANDING PAGE */
/* ====================== */
#contact {
    margin-top: 5%;
    min-height: auto;
    background: #fead20;
    padding-top: 20px;
    padding-left: 10%;
    padding-bottom: 20px;
    font-size: 11pt;
}